<!--
objectには、@userが入ります。ここでは、送信されたデータにエラーがある場合、
@user.errorsにエラー内容が入っているのでそれらを取り出してメッセージとして表示している
-->
<!--new.html.erbで使われる-->
<% if object.errors.any? %>
<!--customでスタイルをつけるためにidを付ける。-->
    <div id="error_explanation">
        <div class="alert alert-danger">
            <!--幾つのエラーが含まれているのかを示す。-->
             The form contains <%= pluralize(object.errors.count, "error") %>.
         </div>
        <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>